---
import portrait from "/tpot.jpg";
---

<div
  class="relative mx-12 flex flex-col items-center justify-center gap-12 xl:flex-row xl:items-start xl:gap-48"
>
  <div class="w-full xl:w-3/4">
    <h1 class="text-6xl font-bold">Hello! I'm Chacha👋</h1>

    <p id="anim-p" class="p-6 text-main">
      You've stumbled upon <span class="font-bold text-primary">chacha's</span> little
      corner of the internet, where creativity runs rampant and normal is just a
      setting on a washing machine.<br />
      <br />
      Stick around, explore the digital masterpieces, and enjoy the occasional artistic
      shenanigans. It's more fun than you'd think!
      <br />
      <br />
      Delight in the unpredictable artistic shenanigans that burst forth from the
      canvas of this digital universe. Here, every visit is an adventure, every glance
      an exploration. Dive in, the pixels are warm!
    </p>
  </div>
  <div class="flex w-full justify-center xl:w-1/2 xl:justify-end">
    <img src={portrait} alt="chachas portrait" />
  </div>
</div>
<style>
  #border-path {
    animation: draw 1s forwards 1s ease-out;
  }

  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }
</style>

<script></script>
