---
const { title } = Astro.props;
import Nav from "../components/Nav";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Collins Chachas Banger portfolio website"
    />
    <meta title={title} />
  </head>
  <body class="">
    <Nav client:load />
  </body>
</html>
<main>
  <slot />
  <footer class="mt-12 bg-black px-8 py-12 md:px-16 lg:px-32">
    <div></div>
  </footer>
</main>
<style>
  @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
  body {
    font-family: "Inter", sans-serif;
  }
</style>
